<div class="main-content" id="home">
  <header>
    <div class="container-fluid">
   
      <nav class="py-md-4 py-3 d-lg-flex nav_w3pvt">
       
        <div id="logo">
          <h1><a href="index.html">ELearning</a></h1>
        </div>
     
        <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
        <input type="checkbox" id="drop" />
      
        <ul class="menu mt-lg-3 ml-auto">
          <li class="active"><a href="index.html">{{'menu.home'|translate}}</a></li>
          <li><a href="about.html">{{'menu.about'|translate}}</a></li>
          <li><a href="#exp">{{'menu.home'|translate}}</a></li>
          <li><a href="contact.html">{{'menu.contact'|translate}}</a></li>
          <li><a href="contact.html">{{'menu.location'|translate}}</a></li>
          <li>
            <p class="w3pvt-phone">
              <span class="fa fa-phone mr-2"></span>+20 1002598249
            </p>
          </li>
          <li>
            <app-lang-toggle></app-lang-toggle>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="banner-content-w3pvt">
    <div class="banner-w3layouts-info text-center">
      <h3>Any successful career starts with a good Education</h3>
    </div>
  </div>
</div>

<div class="container px-lg-5 py-md-3">
  <div class="entry-w3layouts-info">
   
</div>