<div class="container py-md-4">
  <h3 class="tittle-w3layouts two text-center">Live the experience</h3>
  <div class="row mid-grids mt-5">
    <div class="col-md-5 content-w3pvt-img">
      <img src="assets/images/n1.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
      <!-- <h5 class="mt-1">You Can Learn Anything</h5> -->
      <h4>Provide a world-class learning experience</h4>
      <p class="mt-2 text-left">Let Teachable do the heavy lifting so you can focus on what matters -
        creating courses with our user-friendly interface.
        Allow your students to easily sign up to your school, view curriculums and previews,
        and purchase your courses.</p>

    </div>

  </div>
  <div class="row mid-grids my-lg-5 py-lg-5">

    <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">

      <h4>Effortless setup</h4>
      <p class="mt-2 text-left">
        With just a few clicks, you’ll get a fully functioning school with learning management, payment gateways, and
        sales &
        marketing tools.
      </p>



    </div>
    <div class="col-md-5 content-w3pvt-img">
      <img src="assets/images/n2.jpg" alt="" class="img-fluid">
    </div>

  </div>



  <div class="row mid-grids">
    <div class="col-md-5 content-w3pvt-img">
      <img src="assets/images/n3.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
      <h4>Exceptional learning experience</h4>
      <p class="mt-2 text-left">
        Your content is your greatest asset. Take it to the next level with Teachable’s top-notch virtual classroom
        experience.
      </p>



    </div>

  </div>



  <div class="row mid-grids my-lg-5 py-lg-5">

    <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">

      <h4>Simple yet powerful website customization</h4>
      <p class="mt-2 text-left">
        Get a professional website out-of-the-box with minimal configuration necessary. Plus, enjoy full control to
        personalize
        any aspect of it.
      </p>




    </div>
    <div class="col-md-5 content-w3pvt-img">
      <img src="assets/images/n2.jpg" alt="" class="img-fluid">
    </div>

  </div>




  <div class="container py-md-5 text-center">
    <h3 class="tittle-w3layouts two">See what people are saying</h3>
    <div class="row team-grids text-center mt-md-5 mt-4">
      <div class="col-lg-4 team-main">

        <div class="team-img"><img src="assets/images/t1.jpg" alt="news image" class="img-fluid"> </div>
        <div class="team-info">

          <h4>Chester Roberson</h4>
          <span class="fa fa-quote-left" aria-hidden="true"></span>
          <p>
            “I've used Teachable to sell hundreds of thousands of dollars in online courses. If you are thinking of
            creating your
            own online course, Teachable is the place to be.”
          </p>
        </div>


      </div>

      <div class="col-lg-4 team-main">
        <div class="team-info">

          <h4>Maude Collier</h4>
          <span class="fa fa-quote-left" aria-hidden="true"></span>
          <p>
            “I've used Teachable to sell hundreds of thousands of dollars in online courses. If you are thinking of
            creating your
            own online course, Teachable is the place to be.”
          </p>
        </div>

        <div class="team-img"><img src="assets/images/t2.jpg" alt="news image" class="img-fluid"> </div>


      </div>

      <div class="col-lg-4 team-main">

        <div class="team-img"><img src="assets/images/t3.jpg" alt="news image" class="img-fluid"> </div>
        <div class="team-info">

          <h4>Hunter Duncan</h4>
          <span class="fa fa-quote-left" aria-hidden="true"></span>
          <p>
            “I've used Teachable to sell hundreds of thousands of dollars in online courses. If you are thinking of
            creating your
            own online course, Teachable is the place to be.”
          </p>
        </div>


      </div>

    </div>

  </div>








</div>